body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: #0b0d10;
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.time_display {
  background: #0b0d10;
  border-radius: 15px;
  display: inline-block;
  padding: 20px 40px;
  margin: 15px 0;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.time_digit_label {
  font-size: 4rem;
  font-weight: bold;
}

button {
  background: #161a20;
  border: none;
  color: #f0f0f0;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 1000px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  font-size: 1rem;
  position: relative;
}

button::after {
  content: '';
  position: absolute;
  height: 114%;
  width: 104%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  top: -3px;
  left: -2px;
  z-index: -1;
}

button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}

#stopwatch-history {
  list-style-type: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  background: #161a20;
  margin: 10px auto;
  border-radius: 10px;
  width: 60%;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

#stopwatch-history li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.timer-presets {
  margin-top: 15px;
}

input[type="number"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-right: 5px;
}

