* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

body {
  background-color: #f0f0f0;
}

.newspaper-layout {
  display: grid;
  grid-template-areas: 
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px;
  text-align: justify;
  box-sizing: border-box;
  height: 100vh;
}

.title {
  grid-area: title;
  background-color: #444E40;
  color: #E8E8E8;
  padding: 15px;
  text-align: center;
}

.title h1 {
  font-size: 1.5rem;
  line-height: 1.3;
}

.feature-article, .secondary-article {
  background-color: #E0EFDC;
  color: #4D4D4D;
  padding: 15px;
  font-size: 1rem;
}



.feature-article {
  grid-area: feature-article;
}

.cover-image {
  grid-area: cover-image;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #B8DDB6;
}

.small-article1, .small-article2, .small-article3 {
  background-color: #B8DDB6;
  padding: 15px;
  font-size: 0.9rem;
  color: #3D3D3D;
}

.secondary-article {
  grid-area: secondary-article;
}

.small-article1 {
  grid-area: small-article1;
}

.small-article2 {
  grid-area: small-article2;
}

.small-article3 {
  grid-area: small-article3;
}

.cover-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}